{{/*
  Image URL Helper - Returns correct URL based on source type
  Usage: {{ partial "image-url.html" (dict "src" "..." "site" .Site) }}

  1. If src starts with http/https (Wikimedia URL): use directly
  2. If imageBaseURL is set: prepend CDN URL
  3. Otherwise: use local path
*/}}

{{- $src := .src -}}

{{- if or (hasPrefix $src "http://") (hasPrefix $src "https://") -}}
  {{/* External URL (Wikimedia, etc.) - use directly */}}
  {{- $src -}}
{{- else -}}
  {{/* Local path - check for CDN */}}
  {{- $baseURL := .site.Params.imageBaseURL | default "" -}}
  {{- if $baseURL -}}
    {{- $cleanSrc := strings.TrimPrefix "/" $src -}}
    {{- printf "%s/%s" $baseURL $cleanSrc -}}
  {{- else -}}
    {{- $src | relURL -}}
  {{- end -}}
{{- end -}}
